

.img {
    border-radius: 20px;
    box-shadow: 0px 0px 50px black;
}

#message-container{
    top: 50%;
    left: 50%;
    position: static;
    color: rgb(255, 20, 98);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0px 0px 10px rgb(182, 0, 61);
    font-size: 120%;
    text-align: center;
}

.img {
        position: static;
        width: 90%;
        transform: none;
        margin: 20px auto;
        display: block;
    }

body {
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title{
    color: rgb(15, 87, 15);
    text-shadow: 0px 0px 10px rgb(2, 46, 19);
    font-size: 25px;
}